marine_debris/*.pyc
marine_debris/install-media/*
marine_debris/*.bat
marine_debris/settings_local.py
marine_debris/*.sh
marine_debris/datasheets
marine_debris/core/fixtures/*
marine_debris/core/*.pyc
marine_debris/core/migrations/*.pyc
marine_debris/registration_custom/*.pyc
cdb.bat
ddb.bat
env/
manage_1.py
marine_debris_1/
run.bat
tmp/
*.swp
.coverage
htmlcov
stat*.out
errors.log
*.pyc
