django-haystack==1.2.7
south
psycopg2
django-registration
Django==1.4.10
simplejson
django-redis-cache
hiredis
django-flatblocks
pytz
django-debug-toolbar==1.2.1
django-redis-status==1.0.0
johnny-cache==1.4
