<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<title>{% block title %}WCGA Marine Debris Database{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <link href="/site-media/third-party/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site-media/third-party/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet">
    <style>

    </style>
    <link href="/site-media/third-party/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/site-media/third-party/timepicker/css/timepicker.css" rel="stylesheet">
    <link href="/site-media/css/wcga-marine-debris.css" rel="stylesheet">

    {% block includes %}
    
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% block styles %}

{% endblock %}
</HEAD>
{% block bodytag %}
<BODY>
{% endblock %}

<div class="container container-masthead">  
  <div class="masthead">
    <div class="masthead-logo">
      <p class="masthead-logo-line1">WEST COAST GOVERNORS</p>
      <p class="masthead-logo-line2">ALLIANCE on OCEAN HEALTH</p>
      <p class="masthead-logo-line3">CALIFORNIA OREGON WASHINGTON</p>
    </div>
    <p class="masthead-title">Marine Debris Database</p>
    <div class="btn-group masthead-btn-group">
      <a href="#" class="btn">Data</a>
      <a href="#" class="btn">Updates</a>
      <a href="#" class="btn">Partners</a>
    </div>
  </div>
</div>

<!--
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Marine Debris</a>
          <div class="nav-collapse collapse">

            <ul class="nav">
              {% ifequal active 'home' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/">Home</a></li>
              {% ifequal active 'events' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/events">Events</a></li>
              {% ifequal active 'organizations' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/organizations">Organizations</a></li>
              {% ifequal active 'projects' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/projects">Projects</a></li>
              {% ifequal active 'datasheets' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/datasheets">Datasheets</a></li>
              {% ifequal active 'admin' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/admin">Admin</a></li>
            </ul>
            <div class="navbar-text pull-right">
            {% if user.is_authenticated %}
                <a href="/accounts/logout">Log out</a>
            {% else %}
                <a href="/accounts/login">Log in</a>
            {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
    
-->

<div class="container container-content">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        {% ifequal active 'home' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/">Home</a></li>
        {% ifequal active 'events' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/events">Events</a></li>
        {% ifequal active 'organizations' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/organizations">Organizations</a></li>
        {% ifequal active 'projects' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/projects">Projects</a></li>
        {% ifequal active 'datasheets' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/datasheets">Datasheets</a></li>
        {% ifequal active 'admin' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/admin">Admin</a></li>
      </ul>
      <div class="navbar-text pull-right">
      {% if user.is_authenticated %}
          <a href="/accounts/logout">Log out</a>
      {% else %}
          <a href="/accounts/login">Log in</a>
      {% endif %}
      </div>
    </div>
  </div>
  <!--
    <div class="row">
    <div class="span12 content-header">
      {% block content %}
        <div style="height:125px">
        </div>
      {% endblock %}

      </div>
    </div>
  -->
  <div class="row">
      <div class="span6">
        <div class="wcga-database wcga-database-left">
          {% block leftcontent %}
          {% endblock %}
        </div>
      </div>
      <div class="span6">
        <div class="wcga-database wcga-database-right">
          {% block rightcontent %}
          {% endblock %}
        </div>
      </div>
  </div>
</div>
<SCRIPT src="/site-media/third-party/jquery/js/jquery-1.8.0.min.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/jquery/js/jquery-ui-1.8.23.custom.min.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/timepicker/js/jquery-ui-timepicker-addon.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/filamentgroup/jQuery.equalHeights.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/Knockout/knockout-2.1.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/Knockout/knockout-mapping.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/datejs/date.js" ></SCRIPT>
<SCRIPT src="/site-media/js/ko-bindings.js" ></SCRIPT>
{% block scripts %}
{% endblock %}
<SCRIPT>
$('.row-fluid').equalHeights();
{% block js %}

{% endblock %}
</SCRIPT>

</BODY>
</HTML>