<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<title>{% block title %}WCGA Marine Debris Database{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <link href="/site-media/third-party/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site-media/third-party/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet">
    <style>

    </style>
    <link href="/site-media/third-party/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/site-media/css/wcga-marine-debris.css" rel="stylesheet">

    {% block includes %}
    
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% block styles %}

{% endblock %}
</HEAD>
{% block bodytag %}
<BODY>
{% endblock %}

<div class="container-fluid container-masthead">  
  <div class="masthead">
    <div class="masthead-logo">
      <p class="masthead-logo-line1">WEST COAST GOVERNORS</p>
      <p class="masthead-logo-line2">ALLIANCE on OCEAN HEALTH</p>
      <p class="masthead-logo-line3">CALIFORNIA OREGON WASHINGTON</p>
    </div>
    <p class="masthead-title">Marine Debris Database</p>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container-fluid container-content">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        {% ifequal active 'home' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/">Home</a></li>
        {% ifequal active 'events' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/events">Data</a></li>
        {% if user.is_superuser %}
            {% ifequal active 'admin' %}<li class="active">{% else %}<li>{% endifequal %}<a href="/admin">Admin</a></li>
        {% endif %}
      </ul>
      <div class="navbar-text pull-right">
      {% if user.is_authenticated %}
          <a href="{% url django.contrib.auth.views.logout_then_login %}">Sign out</a>
      {% else %}
          <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Sign in</a>
      {% endif %}
      </div>
    </div>
  </div>
 
  {% block content %}
   <div class="row-fluid">
    <div class="span12 content-header">
      </div>
    </div>
  {% endblock %}
 
  <div class="row-fluid">
      <div class="span6">
        <div class="wcga-database wcga-database-left">
          {% block leftcontent %}
          {% endblock %}
        </div>
      </div>
      <div class="span6">
        <div class="wcga-database wcga-database-right">
          {% block rightcontent %}
          {% endblock %}
        </div>
      </div>
  </div>
</div>
<SCRIPT src="/site-media/third-party/jquery/js/jquery-1.8.0.min.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/jquery/js/jquery-ui-1.8.23.custom.min.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/filamentgroup/jQuery.equalHeights.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/Knockout/knockout-2.1.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/Knockout/knockout-mapping.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/bootstrap/js/bootstrap.min.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/jquery/js/jquery.dataTables.js" ></SCRIPT>
<SCRIPT src="/site-media/third-party/datejs/date.js" ></SCRIPT>

  <!--[if lt IE 8]>
<SCRIPT src="/site-media/third-party/js/json2.js" ></SCRIPT>
<!-->
<SCRIPT src="/site-media/js/ko-bindings.js" ></SCRIPT>
{% block scripts %}
{% endblock %}

<script>
$(document).ready(function () {
  $(".wcga-database").height(Math.max($(".wcga-database-left").height(), $(".wcga-database-right").height()));  
});
{% block js %}

{% endblock %}
</script>

</BODY>
</HTML>
