{% extends "base.html" %}

{% block leftcontent %}
  <h3> Found the following unique sites: </h3>
  <ul>
    {% for site in sites %}
    {% if site.site %}
    <li>{{site.name}} <span class="badge badge-success">Matched!</span></li>
    {% else %}
    <li>{{site.name}} <span class="badge badge-important">Did not match. Please create a site and try again.</span></li>
    {% endif %}
    {% empty %}
    <!-- <li>no sites</li> -->
    {% endfor %}
  </ul>
{% endblock %}

{% block rightcontent %}
{% endblock %}

