{% extends "base.html" %}

{% block content %}
{% endblock %}
{% block leftcontent %}
<h2> Bulk import from .csv file</i></h2>
    <form class="bulk-form" method="post" enctype="multipart/form-data" action="{% if action %}{{ action }}{% else %}{{event.id}}{% endif %}">
    {% csrf_token %}
    {{form}}
    <p><button id="bulk_submit" type="submit" class="btn btn-large" value="Upload File" style="margin:15px"/>Upload File</button>
    {% if action %}<button type="button" class="event_cancel btn" id="cancel" value="Cancel">Cancel</button>{% endif %}
    </p>
    </form>

    <p><a id="download-csv-template" href="#">Download template with header row</a></p>
{% endblock %}

{% block rightcontent %}
  <p>Help goes here.</p>
  {% if errors %}
  <h4>The following errors were encountered</h4>
  <ul class="errorlist unstyled">
    {% for error in errors %}
        <li class="alert alert-error">{{ error|safe}}</li>
    {% empty %}
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if not errors and success and sites %}

  <div class="alert alert-success"> Bulk Upload Complete </div>

  <h4> {{ events|length }} events were loaded </h4>
    <ul>
    {% for event in events %}
    <li>
    On {{event.cleanupdate}} 
    at {{event.site}}
    for the {{event.proj_id}} Project
    </li>
    {% endfor %}
    </ul>
  <h4> At {{ sites|length }} sites </h4>
    <ul>
    {% for site in sites %}
        {% if site.site %}
        <li>{{site.name}}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="well" style="width:240px; height: 200px;">
        MAP
    </div>
  {% endif %}
{% if site_form %}
<div id="site-form" style="display:none">
  <div class="well">
    <div class="row-fluid">
      <div class="span6">
        {{ site_form.as_p }}
        {% csrf_token %}
        <button class="btn btn-large cancel form-buttons">cancel</button>
        <button class="btn btn-large submit-site-btn form-buttons" disabled>create site</button>
        <p class="row-fluid">
            <div class="alert alert-info problem"> Problem creating site. <button class="btn btn-mini" id="reset-form">try again</button></div>
        </p>
      </div>
      <div class="span6">
        <div id="bulk-site-map" style="height: 200px; width: 100%"></div> 
      </div>
    </div>
    
  </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="/site-media/third-party/js/jquery.ba-bbq.min.js"></script>
   <script src="/site-media/third-party/OpenLayers-2.12/OpenLayers.js"></script>
   <script src="/site-media/js/widgets/map.js"></script>
   <script src="/site-media/js/bulk_import.js"></script>
{% endblock %}

{% block js %}
var onResizeMap = function () {
  setTimeout( function() { map.updateSize();}, 200);
};

$(document).ready(function () {
  $(window).on('resize', onResizeMap).resize();
});

{% endblock %}
