{% extends "base.html" %}

{% block content %}
    <h1>{{event}}</h1>
{% endblock %}
{% block leftcontent %}
<h2> Bulk import from .csv file</i></h2>
    <form class="bulk-form" method="post" enctype="multipart/form-data" action="{% if action %}{{ action }}{% else %}{{event.id}}{% endif %}">
    {% csrf_token %}
    {{form}}
    <p><input id="bulk_submit" type="submit" value="Upload File" style="margin:15px"/>
    {% if action %}<button type="button" class="event_cancel btn" id="cancel" value="Cancel">Cancel</button>{% endif %}
    </p>
    </form>
    <!-- <a href="/event/create">Create New Event</a> -->
{% endblock %}

{% block rightcontent %}
  {% if errors %}
  <h4>The following errors were encountered</h4>
  <ul class="errorlist unstyled">
    {% for error in errors %}
        <li class="alert alert-error">{{ error|safe}}</li>
    {% empty %}
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if not errors and success and sites %}

  <div class="alert alert-success"> Bulk Upload Complete </div>

  <h4> {{ events|length }} events were loaded </h4>
    <ul>
    {% for event in events %}
    <li>
    On {{event.cleanupdate}} 
    at {{event.site}}
    for the {{event.proj_id}} Project
    </li>
    {% endfor %}
    </ul>
  <h4> At {{ sites|length }} sites </h4>
    <ul>
    {% for site in sites %}
        {% if site.site %}
        <li>{{site.name}}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="well" style="width:240px; height: 200px;">
        MAP
    </div>
  {% endif %}

{% endblock %}

{% block js %}

	$(function() {
        $( "#bulk_submit" ).click( function(e) {
            $(".wcga-database-right").html('<div class="alert alert-info">Loading...</div>');
        });
	});
    
{% endblock %}
