{% extends "base.html" %}
{% block content %}{% endblock %}
{% block leftcontent %}
    <h2>Create a New Site</h2>  
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
    {% if success %}
     <div class="alert alert-success"> Success. Site added. </div>
     {% endif %}
    <div class="row-fluid">
        <div class="span12">
            <form class="event-form site-form form-horizontal" method="post" action="{% if action %}{{ action }}{% else %}/site/create{% endif %}">
                {% csrf_token %}
                {{form}}
                <p class="pull-right">
                    <button type="button" class="btn btn-large" id="back" value="Back" onClick="history.go(-1);return true;">Back</button>
                    <button id="submit" type="submit" value="Continue" class='btn btn-large'>Continue</button>
                </p>
            </form>
        </div>
    </div> 
    
{% endblock %}    

{% block rightcontent %}
 <div class="row-fluid">
     <div class="span12">
         <div id="site-map" class="smallmap"></div>
     </div>
 </div>
{% endblock %}    

{% block scripts %}
        
        <script src="/{{STATIC_URL}}/third-party/OpenLayers-2.12/OpenLayers.js"></script>
        <script src="/{{STATIC_URL}}/js/widgets/map.js"></script>
{% endblock %}

{% block js %}
    map.render('site-map');
    map.zoomToExtent(map.restrictedExtent);

	$(function() {
        $( "#id_latitude" ).on('change', function(){
            lat = parseFloat($( "#id_latitude" ).val());
            lon = parseFloat($( "#id_longitude" ).val());
            updateCoordVals(lon, lat);
        });
        $( "#id_longitude" ).on('change', function(){
            lat = parseFloat($( "#id_latitude" ).val());
            lon = parseFloat($( "#id_longitude" ).val());
            updateCoordVals(lon, lat);
        });
    });
{% endblock js %}
