{% extends "base.html" %}

{% block styles %}

{% endblock %}


{% block content %}
{% endblock %}    
{% block leftcontent %}
    <h2>Create a New Event</h2>
    
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
    <form class="event-form form-horizontal" method="post" action="{% if action %}{{ action }}{% else %}/event/create{% endif %}">
    {% csrf_token %}
    {{form}}
    <p>
    <button type="button" class="btn" id="back" value="Back" onClick="history.go(-1);return true;">Back</button>
    <button disabled="disabled" id="create-continue" type="submit" class='btn'>Continue</button>
    </p>
    </form>
    
{% endblock %}    

{% block js %}

    var app = {}, 
        json = {"orgs": {{json|safe}}};
        
    function EventViewModel() {
        var self = this;
        
        self.data = json;
        self.selectedOrganizationName = ko.observable();
        self.selectedOrganization = ko.computed(function() {
            var org = false;
            $.each(json.orgs, function(index, value) {
                if (value.name === self.selectedOrganizationName()){
                    org = value;
                }
            });
            return org;
        });
        self.selectedProjectName = ko.observable();
        self.selectedProject = ko.computed(function () {
            var proj = false;
            if (self.selectedOrganization() && self.selectedProjectName()){
                $.each(self.selectedOrganization().projects, function(index, value) {
                    if (value.name === self.selectedProjectName()){
                        proj = value;
                    }
                });
            }
            return proj;
        });
        self.selectedDate = ko.observable();
        self.availableDatasheets = ko.observable();
        self.selectedDatasheet = ko.observable();
        self.availableDatasheets = ko.computed(function() {
            var year =  self.selectedDate() ? self.selectedDate().toString('yyyy') : null;
            if (year && self.selectedProject()) {
                return $.map(self.selectedProject().datasheets, function(datasheet) {
                    if (datasheet.start_date <= year) {
                        return datasheet;
                    }
                });
            } else {
                return false;
            }
        });
        
        self.selectedDatasheet.subscribe(function () {
            if ($('#id_data_sheet option:selected')[0].value != "") {
                $('#create-continue').removeAttr('disabled');
            } else {
                $('#create-continue').attr('disabled', 'disabled');
            }
        });
        
    }
    
    app.viewModel = new EventViewModel();
    ko.applyBindings(app.viewModel);
    
{% endblock %}
