{% extends "base.html" %}

{% block styles %}

{% endblock %}


{% block content %}
    <h1>WCGA Marine Debris Database</h1>
{% endblock %}    
{% block leftcontent %}
    <h2>Create a New Event</h2>
    
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
    <form class="event-form" method="post" action="{% if action %}{{ action }}{% else %}/event/create{% endif %}">
    {% csrf_token %}
    {{form}}
    <p><input id="submit" type="submit" value="Continue" class='btn' style="margin:15px"/>
    {% if action %}<button type="button" class="event_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
    </p>
    </form>
    
{% endblock %}    

{% block js %}

    var app = {}, 
        json = {"orgs": {{json|safe}}};
        
    function EventViewModel() {
        var self = this;
        
        self.data = json;
        self.selectedOrganization = ko.observable();
        self.selectedProject = ko.observable();
        self.selectedDate = ko.observable();
        self.availableDatasheets = ko.observable();
        self.selectedDatasheet = ko.observable();
        self.availableDatasheets = ko.computed(function() {
            var year =  self.selectedDate() ? self.selectedDate().toString('yyyy') : null;
            if (year && self.selectedProject()) {
                return $.map(self.selectedProject().datasheets, function(datasheet) {
                    if (datasheet.start_date <= year) {
                        return datasheet;
                    }
                });
            } else {
                return false;
            }
        });
    }
    
    app.viewModel = new EventViewModel();
    ko.applyBindings(app.viewModel);
    
{% endblock %}