{% extends "carousel-right-base.html" %}

{% block leftcontent %}

<h2>Data Sheets</h2>


<!--<div class="clearfix">
    <form class="form-search pull-right">
      <input type="text" class="input-large search-query" name="search-term">
      <button type="submit" class="btn">Search</button>
    </form>
</div>-->
<div class="table-wrapper">
	<table class="table table-condensed table-hover organization-table">
        <tr><th>Created By</th><th>Year Started</th><th>Name</th></tr>
	{% for sheet in sheets %}
	    <tr>
	        <td><strong><a href="/datasheet/{{sheet.slug}}">{{sheet.created_by}}</a></strong></td>
            <td><strong><a href="/datasheet/{{sheet.slug}}">{{sheet.year_started}}</a></strong></td>
	        <td><strong><a href="/datasheet/{{sheet.slug}}">{{sheet.sheetname}} <i class="icon-circle-arrow-right"></i></a></strong></td>
	    </tr>
	{% endfor %}    
	</table>
</div>
{% endblock %}    
