{% extends "base.html" %}
{% block content %}
{% include "terms_modal.html" %}
{% endblock %}
{% block rightcontent %}
<div style="padding: 26px;">
    <ul>
    {% for d in downloads %}
        {% if d.thefile %}
        <li>
            <!-- All data links should have class="tou" to activate modal-->
            <a class="tou" href="{{d.thefile.url}}">{{d.label}}</a> <span>{{d.description}}</span>     
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}    


{% block leftcontent %}
{% regroup downloads by category as category_list %}
{% for cat in category_list %}
    <h3>{{ cat.grouper }}</h3>
    <ul>
        {% for d in cat.list %}
            <li>
                {% if d.thefile %}
                <!-- All data links should have class="tou" to activate modal-->
                <a class="tou" href="{{d.thefile.url}}">{{d.label}}</a> <p>{{d.description}}</p>     
                {% else %}
                {{d.label}} (<em>no download currently available</em>): <p>{{d.description}}</p>     
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
{% block js %}
    $(document).ready(function () {
        $('.wcga-database').on('click', 'a.tou', function (e) {
            var $target = $(e.target).closest('a');
            e.preventDefault();
            $('#tou-modal').find('.btn-primary').attr('href', $target.attr('href'))
            $('#tou-modal').modal().removeClass('hide');
        });
    });
{% endblock %}
