{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/site-media/third-party/OpenLayers-2.12/theme/default/style.css" type="text/css">
<link rel="stylesheet" href="/site-media/css/map_style.css" type="text/css">
<link href="/site-media/third-party/chosen/chosen.css" rel="stylesheet" />
{% endblock %}

{% block content %}
{% endblock %}    
{% block leftcontent %}
    <h2>Create a New Event</h2>
    <table>
    <tr><td>Organization: </td><td>{{event.organization}}</td></tr>
    <tr><td>Project: </td><td>{{event.project}}</td></tr>
    <tr><td>Date: </td><td>{{event.date}}</td></tr>
    <tr><td>Data Sheet: </td><td>{{event.data_sheet}}</td></tr>
    </table>
{% endblock %}    
{% block rightcontent %}
        <h2>Location</h2>
        {% if derelict %}
            <p>If you know the latitude and longitude of the derelict gear, enter it in the fields below. If not, select the approximate location on the map, and identify that this is an approximation using the checkbox below.</p>
        {% else %}
            <p>Use the select boxes below to identify your cleanup's state, county, and sitename. If your sitename is not recognized, zoom in and click on the map below to identify it (the latitude and longitude fields will be filled out automatically).</p>
        {% endif %}
        {% if error %}<p style="color:red">{{error}}</p>{% endif %}
        <form class="event-form" method="post" action="{% if action %}{{ action }}{% else %}/event/create/location{% endif %}">
        {% csrf_token %}
        {{form}}
        <div id="map" class="smallmap"></div>
        <div class="map-buttons"><button type="button" class="btn" id="back" value="Back" onClick="history.go(-1);return true;">Back</button>
        {% if derelict %}
        <button data-bind="enable: selectedStateName() && latitude() && longitude()" type="submit" class='btn'>Continue</button>
        {% else %}
        <button data-bind="enable: selectedStateName() && selectedCountyName() && latitude() && longitude() && selectedSiteName()" type="submit" class='btn'>Continue</button>
        {% endif %}
        </div>
        </form>
    
{% endblock %}    

{% block scripts %}
        <script>
            function updateCoordVals(lon, lat) {
                app.viewModel.latitude(lat.toFixed(6));
                app.viewModel.longitude(lon.toFixed(6));
            }
        </script>
        <script src="/site-media/third-party/OpenLayers-2.12/OpenLayers.js"></script>
        <script src="/site-media/js/widgets/map.js"></script>
        <script src="/site-media/third-party/chosen/chosen.jquery.js"></script>
{% endblock %}

{% block js %}
    
    $(document).ready(function () {
        $(".county-select").chosen();
        $(".state-select").on("change", function (){
            $(".county-select").trigger("liszt:updated");
        });
        $(".site-typeahead").typeahead({
            source: function () {
                return $.map(app.viewModel.selectedCounty().sites, function (site) {
                   return site.name;
                })
            }
        });            
        
        $(".typeahead").on("click", ".active", function(event) {
            app.viewModel.selectedSiteName($(event.target).text());
            $( "#id_sitename" ).trigger("blur");
        });
        
        
    });

    var app = {}, 
        json = { "states": {{states|safe}} };

    function LocationViewModel() {
        var self = this;
        self.data = json;

        self.selectedStateName = ko.observable();
        self.latitude = ko.observable();
        self.longitude = ko.observable();
        self.selectedState = ko.computed(function() {
            var state = false;
            if (self.selectedStateName()){
                $.each(json.states, function(index, value) {
                    if (value.initials === self.selectedStateName()){
                        state = value;
                    }
                });
            }
            return state;
        });
        self.selectedCountyName = ko.observable();
        self.selectedCounty = ko.computed(function() {
            var county = false;
            if (self.selectedStateName() && self.selectedCountyName()) {
                $.each(self.selectedState().counties, function(index, value) {
                    if (value.name === self.selectedCountyName()){
                        county = value;
                    }
                });
                if (!county) {
                    county = self.selectedCountyName();
                }
            }
            return county;
        });
        self.selectedSiteName = ko.observable();
        self.selectedSite = ko.computed(function() {
            var site = false;
            if (self.selectedStateName() && self.selectedCountyName() && self.selectedSiteName()) {
                $.each(self.selectedCounty().sites, function(index, value) {
                    if (value.name === self.selectedSiteName()){
                        site = value;
                    }
                });
            }
            return site;
        });
    }
    app.viewModel = new LocationViewModel();
    ko.applyBindings(app.viewModel);

    function onload(event) {
        init();
    }
    
    function latLonEdit() {
        var lat = $( "#id_latitude" ).val();
        var lon = $( "#id_longitude" ).val();
        if (lat != '' && lon != '') {
            pointSelected(lat, lon);
        }
    }

	$(function() {
		$( ".date" ).datepicker({dateFormat: 'yy-mm-dd'});
        $( "#id_sitename" ).on('blur', function(){
            app.viewModel.latitude(app.viewModel.selectedSite().lat);
            app.viewModel.longitude(app.viewModel.selectedSite().lon);
            pointSelected(app.viewModel.selectedSite().lat, app.viewModel.selectedSite().lon);
        });
      
        $( "#id_latitude" ).on('change', function(){
            latLonEdit();
        });
        $( "#id_longitude" ).on('change', function(){
            latLonEdit();
        });
        
    });
{% endblock %}
