{% extends "data_base.html" %}

{% block styles %}
    <link href="/site-media/third-party/chosen/chosen.css" rel="stylesheet" />
    <link href="/site-media/third-party/jquery/css/jquery.dataTables.css" rel="stylesheet" />

{% endblock %}

{% block includes %}
    <script src="/site-media/third-party/OpenLayers-2.12/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        // Hack to support IE. See http://trac.openlayers.org/wiki/FrequentlyAskedQuestions#WhywontmyvectorlayerworkinIEbeforemypageisdoneloading
        document.namespaces;
    </script>
    {% if map %}
        <script src="{{STATIC_URL}}js/gwst/widgets/Map.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock %}

    
{% block leftcontent %}
<h2>Search Database</h2>
 <div class="row-fluid">
   <div class="span12"> <!-- data-bind="options: locations, selectedOptions: locationFilter, chosen: true"  -->
     <p>Filter by State and County</p>
     <select class="location" data-placeholder="Filter by location(s)..." data-bind="foreach: states, selectedOptions: locationFilter" multiple style="width: 350px">
         <optgroup data-bind="attr: {label: $data.name}">
           <option data-bind="text: $data.name, value: $data.name" disabled></option>
         <!-- ko foreach: $root.locations[$data.name].counties -->
           <option data-bind="text: $data.name, value: $data"></option>
         <!-- /ko -->
         </optgroup>
     </select>
   </div>
 </div>
       <!--     <div class="tabbable wcga">
              <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#search-database-tab-content-location" data-toggle="tab">Location</a>
                  </li>
                  <li>
                    <a href="#search-database-tab-content-type-of-debris" data-toggle="tab">Type of debris</a>
                  </li>
                  <li>
                    <a href="#search-database-tab-content-organization" data-toggle="tab">Organization</a>
                  </li>
                  <li>
                    <a href="#search-database-tab-content-date" data-toggle="tab">Date</a>
                  </li>
                  <li>
                    <a href="#search-database-tab-content-keyword" data-toggle="tab">Keyword</a>
                  </li>
              </ul>
                
                <div class="tab-content">
                  <div class="tab-pane active" id="search-database-tab-content-location">
                    
                  </div>
                  <div class="tab-pane" id="search-database-tab-content-type-of-debris">
                    All Types of Debris
                  </div>
                  <div class="tab-pane" id="search-database-tab-content-organization">
                    All Organizations
                  </div>
                  <div class="tab-pane" id="search-database-tab-content-date">
                    All Dates
                  </div>
                  <div class="tab-pane" id="search-database-tab-content-keyword">
                    <form>
                      <div class="input-append">
                          <input type="text" class="span4">
                          <button type="submit" class="btn">
                            <i class="icon-search"></i> Search
                          </button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
           --> 
        <table class="table wcga table-striped table-hover table-condensed" data-bind="dataTable: { 
            dataSource: filteredEvents, options: {'bFilter': false, iDisplayLength: 5}, 
            columns: [
                { mDataProp: 'site.name', sTitle: 'Site'},
                { mDataProp: 'site.state', sTitle: 'State' },
                { mDataProp: 'project.name', sTitle: 'Project Name'},
                { mDataProp: 'date', sTitle: 'Date' }
            ]
        }">    
    </table>
<div class="row-fluid buttons">
<p class="pull-right">
  <a href="/datasheet/bulk_import" class="btn">
    <i class="icon-share-alt"></i> Import Events
  </a>
  <a href="/event/create" class="btn">
    <i class="icon-plus"></i> Create Event 
  </a>
</p>
</div>
{% endblock %}    
{% block rightcontent %}
    {%if data %}
        <p>data!</p>
    {% else %}
        {% if report %}
            <p>report!</p>
        {% else %}
            <div id="map"></div>
            <div class="clearfix filter-box">
              <p class="pull-right">
              <label class="checkbox">
                  <input type="checkbox" data-bind="checked: filterByExtent"> Only show reports within extent of map
                </label>
              </p>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block scripts %}
<script src="/site-media/third-party/chosen/chosen.jquery.js"></script>

{% endblock %}

{% block js %}
  function viewModel() {
    var self = this;
    
    self.events = {{event_json|safe}};
    
    self.locationFilter = ko.observableArray();

    self.locations = {};
    
    // populate location list for filtering
    $.each(self.events, function (i, event) {
      var state = event.event.site.state,
          county = event.event.site.county,
          countiesl
      if (self.locations[state]) {
        counties = $.map(self.locations[state].counties, function (county) {
          return county.name;
        });
        if ($.inArray(county, counties) === -1) {
          self.locations[state].counties.push({name: county, type: 'county', state: state});          
        }
      } else {
        self.locations[state] = {
          counties: [{name: event.event.site.county, type: 'county'}],
          state: event.event.site.state
        } 
      }
    });
    
    // store mapextent here
    self.mapExtent = ko.observable();
    self.filterByExtent = ko.observable(false);

    self.states = $.map(self.locations, function (location) {
      return {
        name: location.state,
        type: 'state'
      }
    }).sort();

    self.filteredEvents = ko.computed(function () {
      var filteredEvents = [];
      $.each(self.events, function (i, event) {
        if (self.locationFilter() && self.locationFilter().length !== 0) {
          $.each(self.locationFilter(), function (i, filter) {
            if ((filter.type === 'state' && filter.name === event.event.site.state) || (filter.type === 'county' && filter.name === event.event.site.county)) {
              if (self.filterByExtent()) {
                        if (self.mapExtent().containsLonLat(event.pos)) {
                          filteredEvents.push(event);                
                        }
                      } else {
                        filteredEvents.push(event);
                      }
            }
          });
        } else {
          // no filtering
          if (self.filterByExtent()) {
            if (self.mapExtent().containsLonLat(event.pos)) {
              filteredEvents.push(event);                
            }
          } else {
            filteredEvents.push(event);
          }
        }
      });
      return filteredEvents;
    });
    
    self.filteredEvents.subscribe(function () {
      app.addMakers(app.filteredEvents());
    });


  };
  var app = new viewModel()

  app.addMakers = function (events) {
    app.markers.clearMarkers();
    $.each(events, function (i, event) {
      var pos = new OpenLayers.LonLat(event.event.site.lon, event.event.site.lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
      event.pos = pos;
      app.markers.addMarker(new OpenLayers.Marker(pos));
    });
  };

  ko.applyBindings(app);

  $(".location").chosen();
  var map = new OpenLayers.Map('map', {
        //allOverlays: true,
        displayProjection: new OpenLayers.Projection("EPSG:4326"),
        projection: "EPSG:3857"
      });
  app.map = map;
  app.markers = new OpenLayers.Layer.Markers( "Markers" );
  esriOcean = new OpenLayers.Layer.XYZ("ESRI Ocean", "http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/${z}/${y}/${x}", {
      sphericalMercator: true,
      isBaseLayer: true,
      numZoomLevels: 13,
      attribution: "Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri"
  });
  map.addLayers([esriOcean]);  
  map.setCenter(new OpenLayers.LonLat(-122.5, 41).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913")), 5);

  app.markers.id = "Markers";
  map.addLayer(app.markers);

  app.mapExtent(map.getExtent());
  map.events.register("moveend", map, function () {
        app.mapExtent(map.getExtent());
    });
    


  $(document).ready(function () {
    $(".location").chosen().change(function (event, option) {
      var $select = $(event.target);
      if (option.deselected) {
        $select.find('[value="' + option.deselected + '"]').attr('disabled', 'disabled');
        app.locationFilter.remove(function (filter) {
          return filter.name === option.deselected;
        })
        $select.trigger("liszt:updated");

      }
    });

    $('.chzn-results').on('click', '.group-result', function (event) {
      var $optgroup = $(event.target),
          name = $optgroup.text(), 
          $select = $('.location'),
          $option = $select.find('[value="' + name + '"]'),
          index = -1,
          selected = $select.val() || [];

        $.each(app.locationFilter(), function (i, filter) {
          if (filter.name === name) {
            index = i;
          }
        });
        console.log(index);
      if (index === -1) {
        $option.removeAttr('disabled');
        selected.push(name)
        app.locationFilter.push({name: name, type: 'state'});
      } else {
        $option.attr('disabled', true);
        selected.splice($.inArray(name, selected), 1);
        app.locationFilter.splice(index,1);

      }
      $select.val(selected);
      $select.trigger("liszt:updated");

    });
    app.addMakers(app.filteredEvents());
  })
{% endblock %}
    
