{% extends "base.html" %}

{% block styles %}
    <link href="{{STATIC_URL}}third-party/chosen/chosen.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}third-party/jquery/css/jquery.dataTables.css" rel="stylesheet" />

{% endblock %}

{% block includes %}
    <script src="{{STATIC_URL}}third-party/OpenLayers-2.12/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript" charset="utf-8">
        // Hack to support IE. See http://trac.openlayers.org/wiki/FrequentlyAskedQuestions#WhywontmyvectorlayerworkinIEbeforemypageisdoneloading
        document.namespaces;
    </script>
{% endblock %}

 {% block content %}{% endblock %}    
{% block leftcontent %}
<!-- If a site was added, {{submit}} = True, {{added_site}} is your event.id -->
<h2>Query Database <img src="{{MEDIA_URL}}img/ajax-loader.gif" data-bind="visible: showSpinner"/></h2>
 <div class="row-fluid filters hide">
   <div class="span12 ">
      <div class="tabbable wcga">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#search-database-tab-content-location" data-toggle="tab">Location
              <i class="icon-check" data-bind="visible: $.inArray('county', activeFilterTypes()) !== -1 || $.inArray('state', activeFilterTypes()) !== -1"></i>
            </a>

          </li>
          <li>
            <a href="#search-database-tab-content-type-of-debris" data-toggle="tab">Type of debris
              <i class="icon-check" data-bind="visible: $.inArray('event_type', activeFilterTypes()) !== -1"></i>
            </a>
          </li>
          <li>
            <a href="#search-database-tab-content-organization" data-toggle="tab">Organization/Project
              <i class="icon-check" data-bind="visible: $.inArray('organization', activeFilterTypes()) !== -1 || $.inArray('project', activeFilterTypes()) !== -1"></i>
            </a>
          </li>
          <li>
            <a href="#search-database-tab-content-date" data-toggle="tab">Date
              <i class="icon-check" data-bind="visible: $.inArray('date', activeFilterTypes()) !== -1"></i>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="search-database-tab-content-location">
            <h4>Filter by State and County</h4>
            <select class="location" data-placeholder="Filter by location(s)..." data-bind="foreach: states" multiple style="width: 350px">
                <optgroup data-bind="foreach: $root.locations[$data.name].counties, attr: {label: $data.name}">
                  {# <option data-bind="text: $data.name, value: 'state:'+$data.name" disabled></option> #}
                <!--  foreach: $root.locations[$data.name].counties -->
                  <option data-bind="text: $data.name + ', ' + $parent.initials, value: $data.state+':'+$data.name"></option>
                <!-- -->
                </optgroup>
            </select>
          </div>
          <div class="tab-pane" id="search-database-tab-content-type-of-debris">
            <h4>Filter by Report Type</h4>
            <select class="type" multiple="true" data-placeholder="Filter by event type(s)..." style="width: 350px">
              <option value="Gear Removal">Gear Removal</option>
              <option value="Site Cleanup">Site Cleanup</option>
            </select>
          </div>
          <div class="tab-pane" id="search-database-tab-content-organization">
            <div class="row-fluid">
              <div class="span6">
                <h4>Filter by Organization</h4>
                <select class="organization" data-placeholder="Filter by organizations(s)..." data-bind="options: organizations, optionsText: 'name', optionsValue: 'slug'" multiple=true></select>
              </div>
              <div class="span6">
                <h4>Filter by Project</h4>
                <select class="project" data-placeholder="Filter by project(s)..." data-bind="options: projects, optionsText: 'name', optionsValue: 'slug'" multiple=true></select>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="search-database-tab-content-date">
            <h4>Filter by Date Range</h4>
            <div class="row-fluid">
              <div class="span6">
                <div class="input-append">
                  <input type="text" id="from" name="from" placeholder="Start Date" data-bind="datepicker: fromDate, datepickerOptions: {changeMonth: true,changeYear: true}"/>
                  <span class="add-on"><i class="icon-remove-sign" data-bind="click: removeDate"></i></span>
                </div>
              </div>
              <div class="span6">
                <div class="input-append">
                  <input type="text" id="to" name="to" placeholder="End Date" data-bind="datepicker: toDate, datepickerOptions: {changeMonth: true,changeYear: true}"/>
                  <span class="add-on"><i class="icon-remove-sign" data-bind="click: removeDate"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events-table">
        <table class="table wcga table-striped table-hover table-condensed" id="events-table" data-bind="dataTable: { 
            rowTemplate: 'rowTemplate', options: dataTablesOptions, 
            columns: [
                { mDataProp: 'datasheet.event_type', sTitle: 'Event Type', 'sWidth': '25%'},
                { mDataProp: 'site.name', sTitle: 'Site', 'sWidth': '35%'},
                { mDataProp: 'site.county', sTitle: 'County', 'sWidth': '15%'},
                { mDataProp: 'site.st_initials', sTitle: 'State', 'sWidth': '5%'},
                { mDataProp: 'date', sTitle: 'Date', 'sWidth': '10%' }
              ]
        }">    
    </table>
    
  </div>
  {% if user.is_authenticated %}
  <div class="row-fluid buttons">
  <p class="pull-right">
    <a href="/datasheet/bulk_import" class="btn">
      <i class="icon-share-alt"></i> Import Events
    </a>
    <a href="/event/create" class="btn">
      <i class="icon-plus"></i> Create Event 
    </a>
  </p>
</div>

{% endif %}
{% endblock %}    
{% block rightcontent %}
    {%if data %}
        <p>data!</p>
    {% else %}
        {% if report %}
            <p>report!</p>
        {% else %}
          <div class="tabbable wcga">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#map-content" data-toggle="tab">Map</a>
              </li>
              <li>
                <a href="#event-details-content" data-toggle="tab">Event Details</a>
              </li>
              <li> 
                <a href="#report-values-content" id="report-tab" data-toggle="tab">Report</a>
              </li>                
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="map-content">
                <div id="map_wrapper">
                  <div id="map"></div>
                  <div class="loader" data-bind="visible: mapIsLoading">
                    <p>Map is loading.</p>
                    <img src="{{MEDIA_URL}}img/ajax-loader.gif" />
                  </div>
                </div>
               <!-- <div class="clearfix filter-box">
                  <p class="pull-right">
                  <label class="checkbox" disabled>
                      <input type="checkbox" data-bind="checked: filterByExtent" disabled> Only show reports within extent of map
                    </label>
                  </p>
                </div>      -->
              </div>
              <div class="tab-pane" id="event-details-content">
                <div class="pull-right" data-bind="visible: showDetailsSpinner">
                  <img src="{{MEDIA_URL}}img/ajax-loader.gif" />
                </div>
                <div data-bind="if: clusteredEvents().length > 0">
                  <select data-bind="options: clusteredEvents, optionsText: 'displayName',  optionsCaption: 'Choose event from cluster...', value: selectedClusterEvent">
                  </select>
                </div>
                <div data-bind="ifnot: activeEvent">
                  <p>Click on an event in the table for details.</p>
                </div>

                <div data-bind="if: activeEvent">
                  <div data-bind="with: activeEvent">
                    <h4><span data-bind="text: site.name"></span></h4>
                    <dl class="dl-horizontal">
                      <dt>location</dt>
                      <dd><span data-bind="text: site.county"></span>, <span data-bind="text: site.state"></span></dd>
                      <dt>project</dt>
                      <dd><span data-bind="text: project.name"></span></dd>
                      <dt>date</dt>
                      <dd><span data-bind="text: date"></span></dd>
                    </dl>
                    <div class="filter"></div>
                    <div data-bind="if: data" class="table-container">
                      <table class="table wcga table-striped table-hover table-condensed" data-bind="dataTable: { dataSource: data, options: $root.reportTableOptions, columns: [{mDataProp: 'text', sTitle: 'Text'}, {mDataProp:'value', sTitle: 'Value'}, { bSortable: false, mDataProp: 'unit' }] }">
                        <tbody>
                          <tr data-bind="visible: value">
                            <td data-bind="text: text"></td>
                            <td><span data-bind="text: value"></span> <span data-bind="text: unit"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane" id="report-values-content">
                <h4>Report <img src="{{MEDIA_URL}}img/ajax-loader.gif" data-bind="visible: showReportSpinner"/></h4>
                <div data-bind="if: report" id="report">
                  <dl data-bind="foreach: report().event_values" class="dl-horizontal">
                    <dt data-bind="text:$data.field.display_name"></dt>
                    <dd data-bind="text:$data.field.value"></dd>
                  </dl>
                  <div class="filter"></div>
                  <table class="table wcga table-striped table-hover table-condensed" data-bind="dataTable: { dataSource: report, options: $root.reportTableOptions, rowTemplate: 'reportRowTemplate', columns: [{mDataProp: 'field.name', sTitle: 'Field'}, {mDataProp:'field.value', sTitle: 'Value'}, {mDataProp:'field.unit', sTitle: ''}] }">
                  </table>
                </div>

              </div>
              
            </div>            
              
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block scripts %}

<script src="{{STATIC_URL}}third-party/chosen/chosen.jquery.js"></script>
<script src="{{STATIC_URL}}third-party/jquery/js/jquery.ba-bbq.min.js"></script>
<script type="text/html" id="reportRowTemplate">
  <td data-bind="text: field.name.replace(/_/g,' ')"></td>
  <td data-bind="text: field.value"></td>
  <td data-bind="text: field.unit"></td>
</script>
<script type="text/html" id="rowTemplate">
  <td data-bind="text: datasheet.event_type, click: $root.handleTableClick"></td>
  <td data-bind="text: site.name, click: $root.handleTableClick"></td>
  <td data-bind="text: site.county, click: $root.handleTableClick"></td>
  <td data-bind="text: site.st_initials, click: $root.handleTableClick"></td>
  <td data-bind="text: date, click: $root.handleTableClick"></td>
</script>

<script src="{{STATIC_URL}}js/events.js"></script>
{% endblock %}

{% block js %}
{% endblock %}
    
