{% extends "base.html" %}

{% block includes %}
    <script src="{{MEDIA_URL}}third-party/OpenLayers-2.11/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        // Hack to support IE. See http://trac.openlayers.org/wiki/FrequentlyAskedQuestions#WhywontmyvectorlayerworkinIEbeforemypageisdoneloading
        document.namespaces;
    </script>
    {% if map %}
        <script src="{{MEDIA_URL}}js/gwst/widgets/Map.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Events</h1>
{% endblock %}
    
{% block leftcontent %}
    <h2>Search Database</h2>
    <div style="height:30px; background-color: #2d8998;"><p>search here</p></div>
    <div style="height:30px; background-color: #aaa;"><p>filters here</p></div>
    <table class="table table-condensed" style="width:450px" id="events-table">
    <tr><td><a href="#">Name</a><th>Description</th><th>Location</th><th>Date</th><th>Organization</th><th>Project</th></tr>
{% for r in result %}
    <tr id="event-row">
      <td><a href="/event/view/{{r.event_details.event.id}}">{{r.event_details.event.id}}</a></td>
      <td>{{r.event_details.event.datasheet_id.type_id}}</td>
      <td>{{r.event_details.event.sitename}}</a></td>
      <!--<td>{{r.event.cleanupdate}}</td>-->
      <td>{{r.event_details.date}}</td>
      <td>{{r.event_details.org}}</td>
      <td>{{r.event_details.event.proj_id.projname}}</td>
    <!--  <td><form method="get" action="/event/edit/{{r.event.id}}">
        <input id="edit" class='btn' name="edit" type="submit" value="Edit"  />
    </form></td>
    <td><form method="get" action="/event/delete/{{r.event.id}}">
        <input id="delete-view" class='btn' name="delete-view" type="submit" value="Delete" />
    </form></td>-->
    </tr>
{% endfor %}    
    </table>
<a class='btn' href="/event/create">Create New Event</a>

{% endblock %}    
{% block rightcontent %}
    {%if data %}
        <p>data!</p>
    {% else %}
        {% if report %}
            <p>report!</p>
        {% else %}
            <p>map!</p>
            <div id="map" class="smallmap olMap">
                
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block js %}
    $(function ()
    {
      // Hide the first cell for JavaScript enabled browsers.
      $('#events-table td:first-child').hide();

      // Apply a class on mouse over and remove it on mouse out.
      $('#events-table tr').hover(function ()
      {
        $(this).toggleClass('Highlight');
      });
  
      // Assign a click handler that grabs the URL 
      // from the first cell and redirects the user.
      $('#events-table tr').click(function ()
      {
        location.href = $(this).find('td a').attr('href');
      });
    });
{% endblock %}
    