{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/site-media/third-party/OpenLayers-2.12/theme/default/style.css" type="text/css">
<link rel="stylesheet" href="/site-media/css/map_style.css" type="text/css">
{% endblock %}

{% block content %}
    <h1>WCGA Marine Debris Database</h1>
{% endblock %}    
{% block leftcontent %}
    <h2>Create a New Event</h2>
    <table>
    <tr><td>Organization: </td><td>{{event.organization}}</td></tr>
    <tr><td>Project: </td><td>{{event.project}}</td></tr>
    <tr><td>Date: </td><td>{{event.date}}</td></tr>
    <tr><td>Data Sheet: </td><td>{{event.data_sheet}}</td></tr>
    </table>
{% endblock %}    
{% block rightcontent %}
        <h2>Location</h2>
        <p>If you know the latitude and longitude of the derelict gear, enter it in the fields below. If not, select the approximate location on the map, and identify that this is an approximation using the checkbox below.</p>
        {% if error %}<p style="color:red">{{error}}</p>{% endif %}
        <form class="event-form" method="post" action="{% if action %}{{ action }}{% else %}/event/create/location{% endif %}">
        {% csrf_token %}
        {{form}}
        <p><input id="submit" type="submit" value="Continue" class='btn' style="margin:15px"/>
        {% if action %}<button type="button" class="event_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
        </p>
        </form>
        <div id="map" class="smallmap"></div>
    
{% endblock %}    

{% block scripts %}
        <script>
            function updateCoordVals(lon, lat) {
                $( "#id_latitude" ).val(lat.toFixed(6));
                $( "#id_longitude" ).val(lon.toFixed(6));
            }
        </script>
        <script src="/site-media/third-party/OpenLayers-2.12/OpenLayers.js"></script>
        <script src="/site-media/js/widgets/map.js"></script>
{% endblock %}

{% block js %}
    function onload(event) {
        init();
    }

	$(function() {
		$( ".date" ).datepicker({dateFormat: 'yy-mm-dd'});
        $( "#id_site_name" ).on('change', function(){
            var locations = {
            {% for site in sites %}
                '{{site.name}}': [{{site.lat}},{{site.lon}}],
            {% endfor %}
                'None': ['','']
            }, location = $(this).val();    // TODO: need to check state & county, too: this will get filtered!
            
            $( "#id_latitude" ).val(locations[location][0]);
            $( "#id_longitude" ).val(locations[location][1]);
        });
    });
{% endblock %}