{% extends "base.html" %}
    
{% block content %}
{% endblock %}
{% block leftcontent %}
    <h2>Create a New Event</h2>
    <table>
    <tr><td>Organization: </td><td>{{event.organization}}</td></tr>
    <tr><td>Project: </td><td>{{event.project}}</td></tr>
    <tr><td>Date: </td><td>{{event.date}}</td></tr>
    <tr><td>Data Sheet: </td><td>{{event.data_sheet}}</td></tr>
    <tr><td>State: </td><td>{{event.state}}</td></tr>
    {% if event.county %}
    <tr><td>County: </td><td>{{event.county}}</td></tr>
    {% endif %}
    {% if event.site_name %}
    <tr><td>Site: </td><td>{{event.site_name}}</td></tr>
    {% endif %}
    <tr><td>Latitude: </td><td>{{event.latitude}}</td></tr>
    <tr><td>Longitude: </td><td>{{event.longitude}}</td></tr>
    
    </table>
{% endblock %}
{% block rightcontent %}
    <h2>Data Sheet Fields</h2>
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
    <form class="datasheet-form" method="post" action="{% if action %}{{ action }}{% else %}/event/create/save{% endif %}">
    {% csrf_token %}
    {{eventForm}}
    {{form}}
    <p><button id="submit" type="submit">Continue</button>
    {% if action %}<button type="button" class="datasheet_cancel" id="cancel" value="Cancel">Cancel</button>{% endif %}
    </p>
    </form>
{% endblock %}
    
{% block js %}

$(document).ready(function() {
    $(".date").datepicker();
});

{% endblock %}
