{% extends "base.html" %}{% load flatblock_tags %}
    
{% block content %}
<div class="modal fade hide" id="confirm-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Submission</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure that you are ready to submit this data?<br /><br />The data will go through a review process before being made available to the public. Once your data has been reviewed, you will be updated about its status.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary submit-btn">Ok</a>
  </div>
</div>
{% endblock %}
{% block leftcontent %}
    <h2>Create a New Event</h2>
    <table>
    <tr><td>Organization: </td><td>{{event.organization}}</td></tr>
    <tr><td>Project: </td><td>{{event.project}}</td></tr>
    <tr><td>Date: </td><td>{{event.date}}</td></tr>
    <tr><td>Data Sheet: </td><td>{{event.data_sheet}}</td></tr>
    <tr><td>State: </td><td>{{event.state}}</td></tr>
    {% if event.county %}
    <tr><td>County: </td><td>{{event.county}}</td></tr>
    {% endif %}
    {% if event.site_name %}
    <tr><td>Site: </td><td>{{event.site_name}}</td></tr>
    {% endif %}
    <tr><td>Latitude: </td><td>{{event.latitude}}</td></tr>
    <tr><td>Longitude: </td><td>{{event.longitude}}</td></tr>
    
    </table>
{% endblock %}
{% block rightcontent %}
    <h2>Data Sheet Fields</h2>
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
    <form class="datasheet-form" method="post" action="{% if action %}{{ action }}{% else %}/event/create/save{% endif %}">
    {% csrf_token %}
    {{eventForm}}
    {{form}}
    <p><button class="btn" type="submit">Continue</button>
    {% if action %}<button type="button" class="datasheet_cancel btn" id="cancel" value="Cancel">Cancel</button>{% endif %}
    </p>
    </form>
{% endblock %}
    
{% block js %}

$(document).ready(function() {

    var submissionConfirmed = false;

    $('#confirm-modal').on('click', '.submit-btn', function () {
        submissionConfirmed = true;
        $('form').submit();
    });

    $('form').on('submit', function (event) {
        if (submissionConfirmed) {
            // let the form submit!
        } else {    
            event.preventDefault();
            $('#confirm-modal').modal('show');
        }
        
    });



    $(".date").datepicker();

});



{% endblock %}
