{% extends "base.html" %}

{% block content %}
    <div style="height:250px">
        <h1>WCGA Marine Debris Database</h1>
    </div>
{% endblock %}
{% block leftcontent %}
    <h1>About The Database</h1>
    <p>With the help of partner organizations such as Save our Shores and the Surfrider Foundation, The West Coast Governor's Association has established a database to track marine debris.</p>
    <p>Debris is tracked by [location], [type] and [partner organization].  Information from the database can be visualized in reports and maps on this website or downloaded for further analysis.</p>
{% endblock %}
{% block rightcontent %}
    <img src="http://29.media.tumblr.com/tumblr_m0e71x9dTu1r6e6ylo1_400.gif" />
    <!-- <img src="http://mikecane.files.wordpress.com/2007/03/kitten.jpg" /> 
    <img src="http://24.media.tumblr.com/tumblr_lx0csyDRUL1qdlh1io1_250.gif" />
    <!--<img src="http://25.media.tumblr.com/tumblr_lk64ayaE4h1qbhtrto1_500.gif" />
    <img src="http://25.media.tumblr.com/tumblr_lx13rlDw4J1r88qbco1_500.gif" />-->
{% endblock %}
