{% extends "base.html" %}

{% block content %}
<div id="wrapper">
<div id="fronttopbox"></div>
<div id="frontleftbox">
    <h2 style="margin-top:10px;">Please sign in to edit this database</h2>
    {% if not user.is_authenticated %}
        <form method="post" action="?next={{ next|default:"/" }}">
            {% if form.errors %}
                <p class="error">Please correct the errors below:{{ form.non_field_errors }}</p>
            {% endif %}
            {% csrf_token %}
            <dl>
                <dt>
                    <label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
                </dt>
                <dd>
                    <input id="id_username" type="text" name="username" value="{{ next_user }}" maxlength="100" />
                </dd>
                <dt>
                    <label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
                </dt>
                <dd>
                    {{ form.password }}
                </dd>
                <dt>
                    <input type="submit" value="Sign in" class="button"/> 
                </dt>
            </dl>
        </form>

        {% if user.SELF_REGISTRATION %}
            <p style='margin-left: 40px; margin-top: 30px'><b><a href='/accounts/register'>Create a new account</a></b></p>
        {% else %}
            <p>If you do not have an account created, but need to make changes to this data, please contact your project lead or organization contact and request to have an account created.</p>
        {% endif %}
    {% else %}
        <p>You are already signed in | <b>{{user.email|escape}}</b></p>
    {% endif %}
</div>

<br class="clearboth" />
<div id="footer"> Browser requirements: Internet Explorer 7+, FireFox 1.5+, Safari 3+, Opera 9+, Google Chrome 2+. 
  Minimum screen resolution: 1024 x 768. </div>
{% endblock %}