{% extends "base.html" %}

{% block content %}
    <h1>View Event</h1>
{% endblock %}    
{% block leftcontent %}
    <h3>{{event}}</h3>
    <table class='table table-condensed'><tr><th>Field</th><th>Value</th></tr>
    {% for field, value in event.get_fields %}
        <tr><td>{{field}}</td><td>{{value}}</td></tr>
    {% endfor %}
    </table>
    
    <form method="get" action="/event/edit/{{event.id}}">
        <input id='edit-event' name='edit-event' class='btn' value='Edit Event' type="submit" />
    </form>
{% endblock %}

{% block rightcontent %}
    <h3>Data Sheet: {{datasheet}}</h3>
    <table class='table table-condensed'><tr><th>Field</th><th>Value</th></tr>
{% for field in fields %}
    <tr>
    {% for item in field %}
        <td>{{item}}</td>
    {% endfor %}
    </tr>
{% endfor %}    
    </table>
    <form method="get" action="/datasheet/edit/{{event.id}}">
        <input id='edit-datasheet' name='edit-datasheet' class='btn' value='Edit Datasheet' type="submit" />
    </form>

{% endblock %}    
    