.olControlAttribution {
    bottom: 5px;
}
.smallmap {
    border: 1px solid #CCCCCC;
    height: 256px;
    width: 512px;
}
#tags {
    display: none;
}
#docs p {
    margin-bottom: 0.5em;
}
#map {
    background: none repeat scroll 0 0 #7391AD;
    width: 100%;
}
#map {
    border: 0 none;
    height: 250px;
}
#title {
    font-size: 1.3em;
    line-height: 2em;
    margin: 0;
    padding: 0;
    text-indent: 1em;
}
#docs {
    bottom: 0;
    padding: 1em;
}
#shortdesc {
    color: #AAAAAA;
    font-size: 0.8em;
    padding: 1em;
    text-align: right;
}
#tags {
    display: none;
}
#shortdesc {
    float: right;
    width: 25%;
}
#map {
    width: 70%;
}
#docs {
    font-size: 12px;
}