
body {
	font-family: arial, "helvetica neue", helvetica, sans-serif;
	background: #344770;
	}

a:focus,
.btn:focus { outline: none; }

button::-moz-focus-inner,
 input::-moz-focus-inner { border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }

.narrow-carousel img {
	max-height: 100%;
}

.carousel .item > img {
	width: 100%;
}
.align-right { text-align: right; }

.row { margin-bottom: 10px; }

.navbar {
	margin-bottom: 0px;
}
.navbar .navbar-inner {
	padding: 0px 10px 0px 0px;
}

.info {
	text-align: right;
	margin-bottom: 30px;

}
.info .count {
	font-size: 36px;
	color: #344770
}
.info .type {
	font-size: 18px;
	font-weight: bolder;
}
.thumbnail p {
	text-align: right;
}

.table-wrapper {
	max-height: 400px;
	overflow: auto;
}
.table-wrapper-short {
	max-height: 250px;
	overflow: auto;
}

.events-table .dataTables_wrapper{
	margin-top: 25px;
}
.events-table .dataTables_info {
	position: absolute;
	left: 0px;
}

.wcga-database h2 {
	margin-bottom: 0px;
}

.filter-container {
	margin-bottom: 10px;
}

.filter-container h4 {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 16px;
}
.olBingAttribution img {
	position: absolute;
	right: -15px;
	bottom: 15px;

}
.dataTables_wrapper .even.active td, .dataTables_wrapper .odd.active td, .dataTables_wrapper tr:hover td {
	background-color: #344770!important;
	color: white;
}


.organization-table a {
	display: block;
	height: 100%;
	width: 100%;
}

.organization-table a:link {
	text-decoration: none;
}

tr td a .icon-circle-arrow-right {
	visibility: hidden;
}
tr:hover td a .icon-circle-arrow-right {
	visibility: visible;
}

.events-table .dataTables_paginate {
	position: absolute;
	top: -22px;
	right: 0px;
}

.wcga-database-right .dataTables_paginate, .wcga-database-right  .dataTables_info{
    display: none;
}

#map_wrapper {
	position: relative;
}
#map_wrapper .loader {
	position: absolute;
	top: 40%;
	left: 40%;
	text-align: center;
	z-index: 4000;
	background-color: white;
	padding: 20px;
}
#map {
	height: 600px;
	margin-bottom: 20px;
}

#bulk-site-map {
	height: 350px;
}

.site-form input, .bulk-form input {
	width: 98%;
}
.site-form select, .bulk-form select {
	width: 100%;
}
ul.errorlist {
    max-height: 85%;
    overflow: auto;
}
#site-form {
	margin-top: 10px;
}
#report-values-content {
	min-height: 450px
}
.carousel-control {
	display: none;
}

/*.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}*/
.fade {
	opacity: .4;
}

.hide {
	visibility: hidden;
}
img.olTileImage {
    max-width: 256px !important;
}
.olControlAttribution {
	bottom: 0px !important;
}
.clearfix {
	clear: both;
}
.filter-box {
	margin-top: 10px;
}
/* tabs
--------------------------------------------------------------------------------------------------------------------
   updated defaults for Bootstrap tabs, .wcga on .tabbable
*/

.wcga.tabbable { margin-bottom: 20px; }
	.wcga.tabbable .tab-content { overflow: visible; }
.wcga .nav-tabs {
	margin-bottom: 0;
	border: 0;
	}

	.wcga .nav-tabs a {
		color: #888;
		background: #ddd;
		border: 0;	
		}

	.wcga .nav-tabs a:hover {
		color: #444;
		border: 0;
		}

	.wcga .nav-tabs .active a,
	.wcga .nav-tabs .active a:hover {
		color: #222;
		background: #f8f8f8;
		}

.wcga .tab-pane {
	padding: 10px;
	background: #f8f8f8;
	border: 1px solid #e8e8e8;
	}

.dataTables_length {
	display: none;
}
/* tables table-striped, table-hover
--------------------------------------------------------------------------------------------------------------------
   updated defaults for Bootstrap tables table-striped, table-hover, .wcga on .table-striped, .wcga on .table-hover
*/

.wcga.table-striped tbody tr:nth-child(odd) th,
.wcga.table-striped tbody tr:nth-child(odd) td { background-color: #f8f8f8; }
.wcga.table-striped tbody tr:nth-child(even) th,
.wcga.table-striped tbody tr:nth-child(even) td { background-color: #ffffff; }
.wcga.table-hover tbody tr:hover th,
.wcga.table-hover tbody tr:hover td { background-color: #eee; }

.buttons {
	margin-top: 50px;
}

.container { background: #fcfcfc; overflow: auto; }

.content-header {
	margin-top: 0px;
}

.container-masthead {
	margin-top: 10px;
	background: transparent;
	}

.container-footer {
	height: 150px;
	background: #2b3943;
	}

	.masthead {
		margin-bottom: 20px;
		height: 60px; padding: 20px;
		background: #5170b0;
		background: -webkit-linear-gradient(top, #5170b0 0%, #516181 100%);
		background:    -moz-linear-gradient(top, #5170b0 0%, #516181 100%);
		background:     -ms-linear-gradient(top, #5170b0 0%, #516181 100%);
		background:      -o-linear-gradient(top, #5170b0 0%, #516181 100%);
		background: linear-gradient(top bottom,   #5170b0 0%, #516181 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5170b0', endColorstr='#516181',GradientType=0 );
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		}

		.masthead-logo {
			float: left;
			color: #fff;
			}

			.masthead-logo p { margin-bottom: 2px; }

			.masthead-logo-line1 { font-size: 20px; letter-spacing: 1px; }
			.masthead-logo-line2 { font-size: 16px; letter-spacing: 2.55px; }
			.masthead-logo-line3 { font-size: 10px; color: #999; text-align: right; }


		.masthead-title {
			float: right; margin-left: 22px;
			font-size: 34px; color: #ddd; line-height: 44px;
			}

		.masthead-btn-group { float: right; }


.wcga-database .chzn-container .chzn-results .group-result {
	color: #333;
}

.chzn-container-active { z-index: 4000; }


.wcga-database .chzn-container .chzn-results .group-result:hover {
	background-color: #3875D7;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875D7), color-stop(90%, #2A62BC));
	background-image: -webkit-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: -moz-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: -o-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
	background-image: linear-gradient(#3875D7 20%, #2A62BC 90%);
	color: white;
}
/* database */
.filter {
	float: right;
}
.wcga-database-right .wrapper {
	height: 400px;
	overflow: auto;
	clear:both;
}
.wcga-database-right .management .wrapper {
	height: 330px;
}
.wcga-database {
	margin: 10px 0px; padding: 10px;
	background: #fff;
	border: 1px solid #eee;
	height: inherit;
	/*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
			box-shadow: 0 1px 1px rgba(0,0,0,0.25);*/
	}

	.wcga-database .table td{
		vertical-align: middle;
	}
	.wcga-database h2 { margin-top: 0; }

	/*.wcga-database select { width: 160px; }*/

	.wcga-database-btn-group { margin-bottom: 20px; }

	.wcga-database-right-chart {
		margin: 10px auto;
		width: 454px; height: 310px;
		background: url('../images/chart.png') 0 0 no-repeat;
		}

/* import events */
.import-row { margin-bottom: 10px; }

	.import-row select { width: 200px; }

.import-file-upload { margin-right: 10px; }

	.import-data-file { cursor: pointer; }

.imported-events-map {
	margin: 10px auto 20px;
	width: 449px; height: 240px;
	background: url('../images/bing_clean.png') 0 0 no-repeat;
	}

/* create event */
.create-row { margin-bottom: 10px; }

	.create-row select { width: 200px; }

.create-row-date #select-date {
	padding-left: 10px;
	cursor: pointer;
	}

	.popover-select-date { width: 290px; padding: 0; }

		.popover-content { padding: 10px; }

	.select-date-widget {
		width: 270px; height: 235px;
		background: url('../images/calendar.png') 0 0 no-repeat;
		}

.input-lat-lon { width: 100px; }

.created-event-map {
	margin: 10px auto 20px;
	width: 341px; height: 256px;
	background: url('../images/bathy_soquel_480x465.png') 0 0 no-repeat;
	}

/* map after lat & lon are entered */
.created-event-map-location,
.created-event-map-location-selected {
	margin: 10px auto 20px;
	width: 341px; height: 256px;
	background: url('../images/bathy_soquel_canyon_480x465.png') 0 0 no-repeat;	
	}

.import-file-upload { margin-right: 10px; }

	.import-data-file { cursor: pointer; }

.imported-events-map {
	margin: 10px auto 20px;
	width: 449px; height: 240px;
	background: url('../images/bing_clean.png') 0 0 no-repeat;
	}
    
.map-buttons {
    margin-top: 20px;
}

.manage-transactions table.table {
	margin-bottom: 20px;
}

.manage-transactions  {
	height: 600px;
}

@media (max-width: 768px) {
	.container-masthead .masthead {
		height: 90px;
	}
}
